<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="BWV_Package.Get_token"/>
      <class name="BWV_Package.Report_generate"/>
       <class name="BWV_Package.Send_Email"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
